## ДЗ 1 (ОБЯЗАТЕЛЬНОЕ): Анализ температурных данных и мониторинг текущей температуры через OpenWeatherMap API

**Описание задания:**  
Вы аналитик в компании, занимающейся изучением климатических изменений и мониторингом температур в разных городах. Вам нужно провести анализ исторических данных о температуре для выявления сезонных закономерностей и аномалий. Также необходимо подключить API OpenWeatherMap для получения текущей температуры в выбранных городах и сравнить её с историческими данными.


### Цели задания:
1. Провести **анализ временных рядов**, включая:
   - Вычисление скользящего среднего и стандартного отклонения для сглаживания температурных колебаний.
   - Определение аномалий на основе отклонений температуры от $ \text{скользящее среднее} \pm 2\sigma $.
   - Построение долгосрочных трендов изменения температуры.
   - Любые дополнительные исследования будут вам в плюс.

2. Осуществить **мониторинг текущей температуры**:
   - Получить текущую температуру через OpenWeatherMap API.
   - Сравнить её с историческим нормальным диапазоном для текущего сезона.

3. Разработать **интерактивное приложение**:
   - Дать пользователю возможность выбрать город.
   - Отобразить результаты анализа температур, включая временные ряды, сезонные профили и аномалии.
   - Провести анализ текущей температуры в контексте исторических данных.


### Описание данных
Исторические данные о температуре содержатся в файле `temperature_data.csv`, включают:
  - `city`: Название города.
  - `timestamp`: Дата (с шагом в 1 день).
  - `temperature`: Среднесуточная температура (в °C).
  - `season`: Сезон года (зима, весна, лето, осень).

Код для генерации файла вы найдете ниже.

### Этапы выполнения

1. **Анализ исторических данных**:
   - Вычислить **скользящее среднее** температуры с окном в 30 дней для сглаживания краткосрочных колебаний.
   - Рассчитать среднюю температуру и стандартное отклонение для каждого сезона в каждом городе.
   - Выявить аномалии, где температура выходит за пределы $ \text{среднее} \pm 2\sigma $.
   - Попробуйте распараллелить проведение этого анализа. Сравните скорость выполнения анализа с распараллеливанием и без него.

2. **Мониторинг текущей температуры**:
   - Подключить OpenWeatherMap API для получения текущей температуры города. Для получения API Key (бесплатно) надо зарегистрироваться на сайте. Обратите внимание, что API Key может активироваться только через 2-3 часа, это нормально. Посему получите ключ заранее.
   - Получить текущую температуру для выбранного города через OpenWeatherMap API.
   - Определить, является ли текущая температура нормальной, исходя из исторических данных для текущего сезона.
   - Данные на самом деле не совсем реальные (сюрпрайз). Поэтому на момент эксперимента погода в Берлине, Каире и Дубае была в рамках нормы, а в Пекине и Москве аномальная. Протестируйте свое решение для разных городов.
   - Попробуйте для получения текущей температуры использовать синхронные и асинхронные методы. Что здесь лучше использовать?

3. **Создание приложения на Streamlit**:
   - Добавить интерфейс для загрузки файла с историческими данными.
   - Добавить интерфейс для выбора города (из выпадающего списка).
   - Добавить форму для ввода API-ключа OpenWeatherMap. Когда он не введен, данные для текущей погоды не показываются. Если ключ некорректный, выведите на экран ошибку (должно приходить `{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}`).
   - Отобразить:
     - Описательную статистику по историческим данным для города, можно добавить визуализации.
     - Временной ряд температур с выделением аномалий (например, точками другого цвета).
     - Сезонные профили с указанием среднего и стандартного отклонения.
   - Вывести текущую температуру через API и указать, нормальна ли она для сезона.

### Критерии оценивания

- Корректное проведение анализа данных – 1 балл.
- Исследование распараллеливания анализа – 1 балл.
- Корректный поиск аномалий – 1 балл.
- Подключение к API и корректность выполнения запроса – 1 балл.
- Проведение эксперимента с синхронным и асинхронным способом запроса к API – 1 балл.
- Создание интерфейса приложения streamlit в соответствии с описанием – 3 балла.
- Корректное отображение графиков и статистик, а также сезонных профилей – 1 балл.
- Корректный вывод текущей температуры в выбранном городе и проведение проверки на ее аномальность – 1 балл.
- Любая дополнительная функциональность приветствуется и оценивается бонусными баллами (не более 2 в сумме) на усмотрение проверяющего.

### Формат сдачи домашнего задания

Решение нужно развернуть в Streamlit Cloud (бесплатно)

*   Создаем новый репозиторий на GitHub.  
*   Загружаем проект.
*   Создаем аккаунт в [Streamlit Cloud](https://streamlit.io/cloud).
*   Авторизуемся в Streamlit Cloud.
*   Создаем новое приложение в Streamlit Cloud и подключаем GitHub-репозиторий.
*   Deploy!

Сдать в форму необходимо:
1. Ссылку на развернутое в Streamlit Cloud приложение.
2. Ссылку на код. Все выводы про, например, использование параллельности/асинхронности опишите в комментариях.

Не забудьте удалить ключ API и иную чувствительную информацию.

### Полезные ссылки
*   [Оформление задачи Титаник на Streamlit](https://github.com/evgpat/streamlit_demo)
*   [Документация Streamlit](https://docs.streamlit.io/)
*   [Блог о Streamlit](https://blog.streamlit.io/)

In [1]:
import pandas as pd
import numpy as np

# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

In [2]:
df = pd.read_csv('temperature_data.csv')

In [3]:
df

              city   timestamp  temperature  season
0         New York  2010-01-01     1.572667  winter
1         New York  2010-01-02    -6.370725  winter
2         New York  2010-01-03    -0.541359  winter
3         New York  2010-01-04    -2.697697  winter
4         New York  2010-01-05    -8.927544  winter
...            ...         ...          ...     ...
54745  Mexico City  2019-12-25     8.983539  winter
54746  Mexico City  2019-12-26    19.757398  winter
54747  Mexico City  2019-12-27    10.866587  winter
54748  Mexico City  2019-12-28     7.179501  winter
54749  Mexico City  2019-12-29     9.869966  winter

[54750 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54750 entries, 0 to 54749
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         54750 non-null  object
 1   timestamp    54750 non-null  object
 2   temperature  54750 non-null  float64
 3   season       54750 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.7+ MB

In [5]:
df.describe()

        temperature
count  54750.000000
mean      18.281078
std       11.016065
min      -27.951881
25%       11.139296
50%       18.728429
75%       26.118259
max       53.587504

In [36]:
window_size = 30
df['rolling_mean'] = df['temperature'].rolling(window=window_size, min_periods=1).mean()
df['rolling_mean']

0         2.186924
1         3.028028
2         1.800202
3         1.742563
4         2.314513
           ...
54745    11.982063
54746    12.262506
54747    12.041941
54748    12.121020
54749    11.916704
Name: rolling_mean, Length: 54750, dtype: float64

In [10]:
stats = df.groupby(['city', 'season'])['temperature'].agg(['mean', 'std']).reset_index()
stats.rename(columns={'mean': 'seasonal_mean', 'std': 'seasonal_std'}, inplace=True)
stats

              city  season  seasonal_mean  seasonal_std
0          Beijing  autumn      15.902972      4.973270
1          Beijing  spring      12.904231      5.038813
2          Beijing  summer      26.944067      5.227089
3          Beijing  winter      -2.211535      4.910946
4           Berlin  autumn      10.947135      5.103723
5           Berlin  spring       9.813247      5.048844
6           Berlin  summer      20.213054      4.949120
7           Berlin  winter       0.037036      4.927436
8            Cairo  autumn      24.928720      5.055911
9            Cairo  spring      25.165721      5.185854
10           Cairo  summer      34.882102      5.015400
11           Cairo  winter      14.889923      5.261211
12           Dubai  autumn      29.943061      5.099931
13           Dubai  spring      29.841416      4.951455
14           Dubai  summer      39.868946      4.912348
15           Dubai  winter      20.161087      5.038786
16          London  autumn      11.975336      5.148037
17          London  spring      11.032679      5.096157
18          London  summer      18.042126      5.025645
19          London  winter       5.002805      4.808307
20     Los Angeles  autumn      20.088700      4.842884
21     Los Angeles  spring      17.862846      5.189453
22     Los Angeles  summer      25.109184      5.189494
23     Los Angeles  winter      15.036000      5.026522
24     Mexico City  autumn      14.979206      4.936275
25     Mexico City  spring      17.723386      5.058536
26     Mexico City  summer      19.926087      5.144116
27     Mexico City  winter      11.737596      4.897318
28          Moscow  autumn       7.947770      5.135149
29          Moscow  spring       4.815949      5.297619
30          Moscow  summer      18.115088      5.089045
31          Moscow  winter      -9.579357      4.981144
32          Mumbai  autumn      30.026460      5.090395
33          Mumbai  spring      30.209642      4.968928
34          Mumbai  summer      34.945585      5.024636
35          Mumbai  winter      25.170377      5.025841
36        New York  autumn      15.142911      4.972159
37        New York  spring      10.083002      5.051436
38        New York  summer      25.035711      4.914756
39        New York  winter       0.292704      4.978373
40           Paris  autumn      12.712531      4.988494
41           Paris  spring      11.890064      4.895881
42           Paris  summer      19.798544      5.173617
43           Paris  winter       4.062976      4.921722
44  Rio de Janeiro  autumn      24.866964      4.952762
45  Rio de Janeiro  spring      25.201654      4.943132
46  Rio de Janeiro  summer      30.265239      4.904975
47  Rio de Janeiro  winter      20.001826      5.062444
48       Singapore  autumn      27.018423      4.989136
49       Singapore  spring      27.966013      4.931129
50       Singapore  summer      28.115926      5.120250
51       Singapore  winter      26.975199      4.861827
52          Sydney  autumn      20.004542      4.960823
53          Sydney  spring      18.077386      5.121598
54          Sydney  summer      24.656066      4.930515
55          Sydney  winter      11.981168      5.036926
56           Tokyo  autumn      17.870944      4.950501
57           Tokyo  spring      14.886095      5.011598
58           Tokyo  summer      26.902625      4.856199
59           Tokyo  winter       6.059072      5.040931

In [37]:
df = df.merge(stats, on=['city', 'season'], how='left')
df['anomaly'] = (df['temperature'] < (df['seasonal_mean'] - 2 * df['seasonal_std'])) | \
                    (df['temperature'] > (df['seasonal_mean'] + 2 * df['seasonal_std']))

In [39]:
df[df['anomaly'] == True]

,city,timestamp,temperature,season,rolling_mean,seasonal_mean,seasonal_std,anomaly
6,New York,2010-01-07,10.614920,winter,3.319259,0.292704,4.978373,True
28,New York,2010-01-29,-12.318989,winter,-0.000582,0.292704,4.978373,True
49,New York,2010-02-19,-11.978208,winter,0.369117,0.292704,4.978373,True
79,New York,2010-03-21,22.731066,spring,8.703427,10.083002,5.051436,True
146,New York,2010-05-27,-1.988049,spring,9.636197,10.083002,5.051436,True
...,...,...,...,...,...,...,...,...
54708,Mexico City,2019-11-18,3.288124,autumn,13.553192,14.979206,4.936275,True
54710,Mexico City,2019-11-20,25.007607,autumn,14.189675,14.979206,4.936275,True
54721,Mexico City,2019-12-01,1.767779,winter,14.315432,11.737596,4.897318,True
54725,Mexico City,2019-12-05,22.647161,winter,13.986248,11.737596,4.897318,True
54741,Mexico City,2019-12-21,22.368319,winter,13.250736,11.737596,4.897318,True

In [45]:
df['city'].unique()

array(['New York', 'London', 'Paris', 'Tokyo', 'Moscow', 'Sydney',
       'Berlin', 'Beijing', 'Rio de Janeiro', 'Dubai', 'Los Angeles',
       'Singapore', 'Mumbai', 'Cairo', 'Mexico City'], dtype=object)

In [40]:
df.to_csv('temperature_data_processed.csv', index=False)